body{
  margin: 0;
  

} 
::-webkit-scrollbar {
  width: 10px;
 background-color: #5f05c0;
  height: 10px;
  transition: 1s;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.24);
  height: 1px;
  width: 10px;
}



